<div class="container-fluid row">
    <div class="col">
        <br><br><br><br><br><br>
        <app-about-us-left></app-about-us-left>
    </div>
    <div class="col" id="about">
        <br><br><br><br><br><br>
        <app-about-timing></app-about-timing>
    </div>
    <div class="col" id="about">
        <br><br><br><br><br><br>
        <app-feedback></app-feedback>
    </div>
    <div class="col" id="about">
        <br><br><br><br><br><br>
        <app-comments></app-comments>
        <app-customer-comment></app-customer-comment>
    </div>
</div>