<div class="container-fluid p-5 text-center fontStyle" id="aboutUs">
    <div class="container p-5 row bg-white shadow rounded border" >
        <div class="container-fluid col-md-6 col-12">
            <img src="https://cdn.pixabay.com/photo/2020/01/31/07/26/chef-4807317_640.jpg"
                class="img-fluid w-100 h-100 rounded ">
        </div>
        <div class="container col-md-6 col-12 rounded">
            <h1 style="font-size: 60px; color: red;"> Our Story </h1>
            <p style="font-size: 25px;">
                Traditional Indian food is renowned worldwide for its wonderful use of herbs and spices, and its diverse
                range of deep-fried snacks, pastries, curries, gravies, sauces, rice dishes, tandoor-cooked meats,
                vegetable dishes, chutneys, breads and sweets.
            
            <br><br>
                Try our Delicious cousine <span style="color: red;">NOW!!!</span>
            </p>
            <button class="text-dark btn my-2 w-100 display-6 shadow rounded" routerLink = "/menu"> Order Now</button>
        </div>
    </div>

    <div class="container-fluid row p-5 text-center bg-white shadow mt-5 rounded " >
        <div class="col-md-6 col bg-light shadow rounded ">
            <h1 class="my-3 display-6"> Want to Learn more about Us?</h1>
            <h4 class="my-3 display-6"> Follow us on Social Media!!!</h4>
            <div class="row my-5">
                <i class="fa fa-facebook col " aria-hidden="true"></i>
                <i class="fa fa-instagram col" aria-hidden="true"></i>
                <i class="fa fa-twitter col" aria-hidden="true"></i>
            </div>


            <div class="container-fluid text-center shadow mt-5">
                <h4 class="my-3 display-6">Love to hangout with your friends/family at home?</h4>
                <p class="my-2 display-6"> We Place Party Orders too</p>
                <p class="display-6"> GET IN <span class="bg-light" style="color: abac7f;"> TOUCH !!!</span></p>
                <button class="btn bg-dark text-light w-100" data-bs-toggle="modal" data-bs-target="#feedback"> Fill out
                    the form to place a party order
                </button>
            </div>
            <div class="container-fluid text-center my-5 shadow">
                <h4 class="my-3">Checkout what our customers say about <span class="bg-light" style="color: abac7f;"> Us
                    </span></h4>
                <button class="w-100 btn bg-dark text-light my-5" data-bs-toggle="modal" data-bs-target="#comments"
                    (click)="content = 'comment'"> Customer Comments
                </button>
            </div>

        </div>


        <div class="col-md-6 col my-5">
            <app-about-timing></app-about-timing>
        </div>
        <!-- Modal for Form to place party order... -->
        <div class="modal fade" id="feedback" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Please fill this Form to Get in touch</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <app-feedback></app-feedback>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal for Form to check/add customer comments... -->
        <div class="modal fade" id="comments" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Please See What people are saying about us</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <app-comments></app-comments>

                        <br><br>
                        <h3> Leave a Review...</h3>
                        <app-customer-comment></app-customer-comment>
                    </div>

                </div>
            </div>
        </div>
        <!-- <div class="container text-center" [ngSwitch]="content">
                <div *ngSwitchCase="'timing'">

                </div>
                <div *ngSwitchCase="'feedback'">
                </div>
                <div *ngSwitchCase="'comment'">
                   
                </div>
                <div *ngSwitchDefault>
                    404 Page not Found
                </div>
            </div> -->
    </div>

</div>







<!-- <div class="container-fluid row">
    <div class="col-6" id="leftContainer">
        <div class="row" id="leftcontent">
          
        </div>
    </div>-->
<!-- <div class="col-6" [ngSwitch]="content">  -->
<!-- <br><br><br><br><br><br>
        <div *ngSwitchCase="'timing'">
            <app-about-timing></app-about-timing>
        </div>
        <div *ngSwitchCase="'feedback'">
            <app-feedback></app-feedback>
        </div>
        <div *ngSwitchCase="'comment'">
            <app-comments></app-comments>
            <app-customer-comment></app-customer-comment>
        </div>
        <div *ngSwitchDefault>
            404 Page not Found
        </div>
    </div> -->
<!-- <div class="col-6">
        <br><br><br><br><br><br>
        <app-feedback></app-feedback>
    </div>
    <div class="col-6" id="about">
        <br><br><br><br><br><br>
        <app-comments></app-comments>
        <app-customer-comment></app-customer-comment>
    </div> -->
<!-- </div> -->