.fontStyle {
    font-family: 'Dancing Script';

}


#aboutUs::before {
    display: block;
    content: "";
    height: 80px;
}

#aboutUs {
    background-color: lightgray;
    /* opacity: 0.9; */
}


#leftContainer {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/05/21/41/appetite-1239046__340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 10%;
    height: 100vh;
}

#leftcontent {
    background-color: black;
    opacity: 0.75;
    width: 100%;
    justify-content: center;
    padding-top: 150px;
    height: 100vh;
    display: flex;
}

button {
    background-color: #abac7f;
    font-size: 25px;
    font-weight: bold;
}