<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg"  style="background-color: beige;">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">ULU's Kitchen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse  navbar-collapse rounded"  id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-center rounded mx-auto m-3 mb-2 mb-lg-0 bg-light" >
          <li class="nav-item ">
            <a class="nav-link ms-2" aria-current="page" routerLink="/home" routerLinkActive="active" id="a">Home</a>
          </li>

          <li class="nav-item ">
            <a class="nav-link ms-2" aria-current="page" routerLink="/menu" routerLinkActive="active" id="a">Order Now</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link ms-2" routerLink="/aboutus" routerLinkActive="active" id="a">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link ms-2" class="btn" routerLink="/login" routerLinkActive="active" id="a">Admin?</a>
          </li>
        </ul>

    <div class=" ms-auto" style="font-size: 30px; background-color: beige; " role="search">
          <i class="fa-brands ms-2 fa-square-facebook"></i>
          <i class="fa-brands ms-2 fa-square-instagram"></i>
          <i class="fa-brands ms-2 fa-square-twitter"></i>
          <i class="fa-brands ms-2 fa-youtube"></i>
        </div>
    </div>
  </div>
</nav>