<br><br><br><br><br>


<form [formGroup]="adminLogin" (ngSubmit)="onSubmit()" class="container  my-5 py-5">

    <!-- Email Form Element -->
    <div class="mb-3">
        <label class="form-label">Email:</label>
        <input class="form-control" formControlName="email">
        <div *ngIf="emailFormControl.dirty && emailFormControl.errors?.['email']" class="alert alert-danger"
            role="alert">
            Please enter valid email address
        </div>
        <div *ngIf="emailFormControl.touched && emailFormControl.errors?.['required']" class="alert alert-danger"
            role="alert">
            Email field is required
        </div>
    </div>

    <!-- Email Form Element -->
    <div class="mb-3">
        <label class="form-label">Password:</label> 
        <input class="form-control" type="password" formControlName="password">
        <div *ngIf="passwordFormControl.touched && passwordFormControl.errors?.['required']" class="alert alert-danger"
            role="alert">
            Password is a required field
        </div>
        <div *ngIf="passwordFormControl.dirty && passwordFormControl.errors?.['minlength']" class="alert alert-danger"
            role="alert">
            Password should be atleast 8 characters
        </div>

    </div>

    <button class="btn text-center p-2  m-2 bg-dark text-white" type="submit" [disabled]="adminLogin.invalid">Submit</button>
</form>