<!-- Home Page first section - TITLE and paragraph -->
<section id="first">
    <div class="container-fluid text-center " id="homepage">
        <div class="container-fluid" id="homepagecontent">
            <div class="p-5 container text-center text-light g-4">
                <h1 class="p-md-5" id="uluskitchen">Ulu's Kitchen</h1>
                <h2 class="p-md-2 lead" id="uluskitchen2">The best Indian Street food!</h2>
                <p class="lead p-3 display-6"> Join us at <span class="text-danger"> 8:00 P.M. on Tuesdays </span> for a
                    discount on the world famous Falooda! <i
                        class="fa-solid fa-champagne-glasses text-danger fa-bounce"></i></p>
                <div class="row">
                    <button class="col-md p-3 " routerLink="/aboutus">About Us</button>
                    <button class="col-md p-3 mb-2  ms-md-3" routerLink="/menu">Order Now <i
                            class="fa-solid fa-utensils fa-shake"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Homepage second section - To book a table -->

<section class="p-5 bg-light text-dark text-center fontStyle ">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 id="uluskitchen2"> Early Bird <span style="color: #abac7f;"> Deal! </span></h1>
                <p class="lead my-4 h6 display-6">
                    Enjoy an amazing evening with your loved ones. <br> Book online and recieve upto <span
                        style="color: red;"> 10% off </span>on your order <br><br> Book a table <span
                        class="text-danger ">Now!</span>
                </p>
                <button class="btn-btn-primary btn-lg shadow" data-bs-toggle="modal" data-bs-target="#enroll"> Book
                    Table</button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block rounded shadow p-2 ms-4"
                src="https://cdn.pixabay.com/photo/2017/09/30/15/10/plate-2802332_640.jpg" alt="">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1> Fill This form out to make a reservation!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                   <app-reservation-form></app-reservation-form>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Homepage third section - See What people have to say about us -->
<section class="p-5 bg-dark fontStyle">
    <div class="container">
        <h2 class="text-center text-white" id="uluskitchen"> Our Customers </h2>
        <p class="lead text-center text-white my-5 display-6">
            We have been serving delicious food to our customers. <br> <span style="color: #abac7f;"> Secret
                Ingredient</span> you ask?
        </p>
        <p class="lead text-center text-white mb-5 display-6">
            Love for <span style="color: #abac7f;" id="uluskitchen2"> Food!! </span>
        </p>


        <div class="row g-4">
            <!-- Instructor 1 -->
            <div class="col-md-6 col-lg-3 h-100">
                <div class="card bg-light">
                    <div class="card-body text-center fontStyle">
                        <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3">Jennifer Maria</h3>
                        <p class="card-text "><span class="firstLetter">L</span>ove the Decor! Best Hangout place in
                            town! </p>
                        <a href="#"> <i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>

                </div>
            </div>


            <!-- Instructor 2 -->
            <div class="col-md-6 col-lg-3 h-100">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/women/11.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3">Santa Singh</h3>
                        <p class="card-text"><span class="firstLetter">T</span>andoori Chicken is awesome! loved the
                            spicy chutney too. </p>
                        <a href="#"> <i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>

                </div>
            </div>


            <!-- Instructor 3 -->
            <div class="col-md-6 col-lg-3 h-100">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/men/21.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3">Sunny Kalwani</h3>
                        <p class="card-text"><span class="firstLetter">P</span>ani Puri reminded me of my hometown. </p>
                        <a href="#"> <i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>


                </div>
            </div>
            <!-- Instructor 4 -->
            <div class="col-md-6 col-lg-3 h-100">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/men/14.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3"> Sanchita Ghosh </h3>
                        <p class="card-text"> <span class="firstLetter">T</span>he best Food I have ever Tasted. Butter
                            Chicken with Garlic Naan is a Must Try!! </p>
                        <a href="#"> <i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>

<!-- Homepage fourth section - Contact US -->
<section class="p-5 my-5 fontStyle">
    <div class="container-fluid">
        <div class=" g-4 justify-content-center shadow">
            
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.8209962171136!2d-81.28389392351352!3d43.02415479288756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882eee1b5f1bf881%3A0xbb4b3c35410aa3cc!2sRichmond%20St%2C%20London%2C%20ON!5e0!3m2!1sen!2sca!4v1686758609662!5m2!1sen!2sca"
            loading="lazy" class="w-100 h-50" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>