<!-- <div class="card">
    <div class="card-body">
        <p>{{feedback_data.id}}</p>
        <p> {{feedback_data.first_name}} {{feedback_data.last_name}}</p>
        <p>{{feedback_data.email_id}}</p>
        <p>{{feedback_data.feedback}}</p>
        <p> {{feedback_data.feedback_date}}</p>
    </div>
</div> -->


    <td> {{feedback_data.id}} </td>
    <td> {{feedback_data.first_name}} </td>
    <td> {{feedback_data.last_name}} </td>
    <td> {{feedback_data.email_id}} </td>
    <td> {{feedback_data.feedback}} </td>
    <td> {{feedback_data.feedback_date}} </td>
