<h1>About Our Restaurant!</h1>
<hr>
<div class="row">
    <i class="fa-solid fa-phone col"></i>
    <i class="fa-solid fa-map-location-dot col"></i>
    <i class="fa-brands fa-instagram col"></i>
</div>
<h3>Hours of operation</h3>
<li>Monday - 12pm to 8pm</li>
<li>Tuesday - closed</li>
<li>Wednesday - closed</li>
<li>Thursday - 12pm to 10pm</li>
<li>Friday - 12pm to 2am</li>
<li>Saturday - 12pm to 2am</li>
<li>Sunday - 12pm to 8pm</li>
<br>
<h3>Contact Us</h3>
<li>+1 226-789-2233</li>
<li>admin@uluskitchen.com</li>
