h1{
    text-align: center;
    font-family: 'Delicious Handrawn';
    font-size: 60px;
}

#about {
    text-align: center;
    font-family: 'Delicious Handrawn';
    /* font-size: 20px; */
    letter-spacing: 1px;
}
i{
    text-align: center;
}

h3 {
    font-size: 40px;
    color: #abac7f;
    padding-top: 20px;
    font-family: 'Delicious Handrawn';

}


li {
    font-size: 25px;
    font-family: 'Delicious Handrawn';
    list-style-type: none;

}
