<section class="p-5 bg-light">
    <div class="container-fluid my-4 p-2 d-flex flex-row-reverse">
        <!-- Admin Data -->
        <div class=" row p-2 bg-white border shadow">
            <div class="col-3">
                <img src="https://cdn.pixabay.com/photo/2013/07/13/13/38/man-161282_640.png"
                    class=" w-100 h-100 rounded-circle py-3 mx-3">
            </div>
            <div class="my-3 col-6 ps-5">
                <h5 class="card-title m-3 "> Welcome! {{adminData.first_name}} {{adminData.last_name}} </h5>
                <div class="d-flex">
                    <a routerLink="/register" class="btn p-2 border shadow text-center">Register an admin</a>
                    <a class="btn border shadow ms-2 p-2 text-center bg-danger border shadow" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center my-5">
        <button class="btn m-1" (click)="viewContent = 'addItem'"> Add Item </button>
        <button class="btn m-1" (click)="viewContent = 'addDeleteEdit'"> Delete Item</button>
        <button class="btn m-1" (click)="viewContent = 'viewFeedbacks'"> View Party Orders </button>
        <button class="btn m-1" (click)="viewContent = 'viewOrders'"> View Orders </button>
        <button class="btn m-1" (click)="viewContent = 'viewReservations'"> View Reservations </button>
    </div>
    <div [ngSwitch]="viewContent">

        <!-- Component to add Item to the menu page - Done -->
        <div class="container py-5" *ngSwitchCase="'addItem'">
            <app-add-delete-edit></app-add-delete-edit>
        </div>
        <!-- Component to delete item from menu page - Done -->
        <div class="container py-5 " *ngSwitchCase="'addDeleteEdit'">
            <app-admin-menus></app-admin-menus>
        </div>
        <!-- Component to view Party Orders -->
        <div class="container py-5" *ngSwitchCase="'viewFeedbacks'">
            <app-admin-feedbacks></app-admin-feedbacks>
        </div>
        <div class="container py-5" *ngSwitchCase="'viewOrders'">
            <app-view-orders></app-view-orders>
        </div>

        <div class="container text-center py-5" *ngSwitchDefault class="container py-5">
            <h1>Choose a button <i style="font-size: 200px;" class="fa-solid fa-arrow-trend-up"></i></h1>

        </div>
        <div class="container py-5" *ngSwitchCase = "'viewReservations'">
            <app-admin-reservations></app-admin-reservations>
        </div>

    </div>


</section>