<app-navbar></app-navbar>
<br><br><br><br><br><br><br>

<!-- Router Outlet -->
<!-- 

<router-outlet></router-outlet>

 -->



<!-- Form Orders - Looking better using bootstrap 
<div>
  <app-orders></app-orders>
</div> -->

<!-- Form Feedback - Looking better using bootstrap 
<div>
  <app-feedback></app-feedback>
</div>-->

<!-- Form Customer_comments - Looking better using bootstrap 
<div>
  <app-customer-comment></app-customer-comment>
</div>-->

<!-- Form Admin Login - Looking better using bootstrap 
<div>
  <app-admin-loginform></app-admin-loginform>
</div>-->

<!-- Form Add item - Looking better using bootstrap -->
<div>
  <app-add-item></app-add-item>
</div>

<!-- Footer -->

<div class="text-center  fixed-bottom p-1" id="footer">
  © 2023 Copyright:
  <a class="text-center" routerLink="/home" id="trade"> UlusKitchen.ca</a>
</div>