<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Router Outlet -->
<router-outlet></router-outlet>
<!-- <app-admin-register-form></app-admin-register-form> -->

<!-- Footer -->

<footer class="mainfooter text-dark" role="contentinfo" id="footer">
  <div class="footer-middle">
    <div class="container-fluid">
      <div class="row container ms-5 my-5">
        <div class="col-md-3 col-sm-6 my-5">
          <div class="footer-pad">
            <h1><strong> Address </strong></h1>
            <ul class="list-unstyled">
              <li> <a>Richmond Street,</a></li>
              <li> <a> London, ON </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 my-5">
          <div class="footer-pad ">
            <h1> <strong>Contact Info </strong></h1>
            <ul class="list-unstyled">
              <li><a> Phone Number: <strong>226-228-9988</strong> </a> </li>
              <li><a>email: <strong>admin@uluskitchen.com</strong></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3  col-sm-6 my-5">
          <div class="footer-pad ">
            <h1> <strong>Restaurant Hours </strong></h1>
            <ul class="list-unstyled">
              <li> <a href="#"> Monday - 12PM-8PM </a> </li>
              <li> <a href="#"> Tuesday - Closed </a> </li>
              <li> <a href="#"> Wednesday - Closed </a> </li>
              <li> <a href="#"> Thursday - 12PM-12AM </a> </li>
              <li> <a href="#"> Friday - 12PM-2AM </a> </li>
              <li> <a href="#"> Saturday - 12PM-2AM </a> </li>
              <li> <a href="#"> Sunday - 12PM-10PM </a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3  my-5">
          <h1 ><strong> Follow Us </strong></h1>
          <ul class="social-network social-circle" style="font-size: 30px;">
            <i class="fa-brands ms-2 fa-square-facebook"></i>
            <i class="fa-brands ms-2 fa-square-instagram"></i>
            <i class="fa-brands ms-2 fa-square-twitter"></i>
            <i class="fa-brands ms-2 fa-youtube"></i>
          </ul>
        </div>
      </div>
      <div class="col-md-12 text-light text-center ">
        <p style="font-size: 20px; background-color: #abac7f;">
          © 2023 Copyright: <a class="text-center me-5" routerLink="/home" id="trade"> UlusKitchen.ca</a> <a href=""
            class="ms-5">created by: <strong>Sunny Kalwani</strong></a>
        </p>
        
      </div>
    </div>
  </div>
</footer>