<form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" class="container">

    <!-- First Name Form Element -->
    <div class="mb-3 my-2">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="first_name" placeholder="Enter your First Name here">

        <!-- Displaying error messages -->
        <div *ngIf="first_nameFormControl.touched && first_nameFormControl.errors?.['required']"
            class="alert alert-danger" role="alert">
            First Name is a required field
        </div>
        <div *ngIf="first_nameFormControl.dirty && first_nameFormControl.errors?.['minlength']"
            class="alert alert-danger" role="alert">
            First Name must be atleast 3 characters.
        </div>
    </div>

    <!-- Last Name Form Element -->
    <div class="mb-3 my-2">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="last_name" placeholder="Enter your Last Name here">

        <!-- Displaying error messages -->
        <div *ngIf="last_nameFormControl.touched && last_nameFormControl.errors?.['required']"
            class="alert alert-danger" role="alert">
            Last Name is a required field
        </div>
        <div *ngIf="last_nameFormControl.dirty && last_nameFormControl.errors?.['minlength']" class="alert alert-danger"
            role="alert">
            Last Name must be atleast 3 characters.
        </div>
    </div>

    <!-- Email Form Element -->
    <div class="mb-3 my-2">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email_id" placeholder="Enter your email ID">

        <!-- Displaying error messages -->
        <div *ngIf="email_idFormControl.touched && email_idFormControl.errors?.['required']" class="alert alert-danger"
            role="alert">
            Email is a required field
        </div>
        <div *ngIf="email_idFormControl.dirty && email_idFormControl.errors?.['email']" class="alert alert-danger"
            role="alert">
            Please enter valid email address
        </div>
    </div>

    <!-- Feedback Form Element -->
    <div class="mb-3 my-2">
        <label class="form-label">Description</label>
        <textarea type="text" class="form-control" formControlName="feedback" placeholder="Please describe services required"></textarea>

        <!-- Displaying error messages -->
        <div *ngIf="feedbackFormControl.touched && feedbackFormControl.errors?.['required']" class="alert alert-danger"
            role="alert">
            Feedback is a required field
        </div>
        <div *ngIf="feedbackFormControl.dirty && feedbackFormControl.errors?.['minlength']" class="alert alert-danger"
            role="alert">
            Feedback must be atleast 100 characters.
        </div>
    </div>

    <!-- Feedback Date Form Element -->
    <div class="mb-3 my-2">
        <label class="form-label">Party Order Date and Time</label>
        <input type="datetime-local" class="form-control" formControlName="feedback_date">

        <!-- Displaying error messages -->
        <div *ngIf="feedback_dateFormControl.touched && feedback_dateFormControl.errors?.['required']" class="alert alert-danger"
            role="alert">
            Party Order Date and Time is a required field
        </div>
    
    </div>
 
    <button type="submit" class="btn text-dark" [disabled]="feedbackForm.invalid"> Submit Party Order Request </button>
</form>