<div class="container-fluid" id="menubody">
    
    <h1 id="HeadLine">Menu</h1>
    <div class="row">
        <!-- First Card -->
        <div class="card col-4">
            <h3>Small Platters</h3>
        </div>
        <!-- Second Card -->
        <div class="card col-4">
            <img src="assets\india-g929f52e2a_640.jpg" class="card-img-top">
        </div>
        <!-- Third Card -->
        <div class="card col-4">
            <img src="assets\indian-g7841467f3_640.jpg" class="card-img-top">
        </div>
        <!-- Fourth Card -->
        <div class="card col-3">
            <img src="assets\korma-g324f743e8_640.jpg" class="card-img-top">
        </div>
        <!-- Fifth Card -->
        <div class="card col-3">
            <img src="assets\pulses-g685b35400_640.jpg" class="card-img-top">
        </div>
        <!-- Sixth Card -->
        <div class="card col-3">
            <img src="assets\sweets-gef01bb4f7_640.jpg" class="card-img-top">
        </div>
        <!-- Seventh Card -->
        <div class="card col-3">
            <img src="assets\thali-gc35594f35_640.jpg" class="card-img-top">
        </div>
    </div>
</div>