<table class="table">
    <thead>
        <tr>
            <th> ID </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email ID </th>
            <th> Feedback </th>
            <th> Feedback Date</th>
        </tr>
    </thead>
    <tbody >

        <tr *ngFor="let index of feedbacks">
            <td> {{index.id}}</td>
            <td> {{index.first_name}}</td>
            <td> {{index.last_name}}</td>
            <td> {{index.email_id}}</td>
            <td> {{index.feedback}}</td>
            <td> {{index.feedback_date | date: 'short'}}</td>
        </tr>
    </tbody>
</table>