<div class="table-responsive">

<table class="table table-hover">
    <thead>
        <tr >
            <th class="col"> ID </th>
            <th class="col"> First Name </th>
            <th class="col"> Last Name </th>
            <th class="col"> Email ID </th>
            <th class="col"> Order Description </th>
            <th class="col"> Order Date and Time</th>
        </tr>
    </thead>
    <tbody >

        <tr *ngFor="let index of feedbacks">
            <td class="col"> {{index.id}}</td>
            <td class="col"> {{index.first_name}}</td>
            <td class="col"> {{index.last_name}}</td>
            <td class="col"> {{index.email_id}}</td>
            <td class="col"> {{index.feedback}}</td>
            <td class="col"> {{index.feedback_date | date: 'short'}}</td>
        </tr>
    </tbody>
</table>

</div>