<section class="p-5">
    <form [formGroup]="registerForm" (ngSubmit)="register()">

        <!-- First Name Input -->
        <div class="">
            <label class="form-label"> First Name </label>
            <input type="text" class="form-control" formControlName="first_name">
        </div>
        <div *ngIf="first_nameFormControl.touched && first_nameFormControl.errors?.['required']"
            class="alert alert-danger" role="alert">
            First Name is a required field
        </div>

        <!-- Last Name Input -->
        <div class="">
            <label class="form-label"> Last Name </label>
            <input type="text" class="form-control" formControlName="last_name">
        </div>
        <div *ngIf="last_nameFormControl.touched && last_nameFormControl.errors?.['required']"
            class="alert alert-danger" role="alert">
            Last Name is a required field
        </div>

        <!-- Email Input -->
        <div class="">
            <label class="form-label"> Email ID </label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div *ngIf="emailFormControl.dirty && emailFormControl.errors?.['email']" class="alert alert-danger"
            role="alert">
            Please enter valid email address
        </div>
        <div *ngIf="emailFormControl.touched && emailFormControl.errors?.['required']" class="alert alert-danger"
            role="alert">
            Email field is required
        </div>

        <!-- Password Input -->
        <div class="">
            <label class="form-label"> Password </label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div *ngIf="passwordFormControl.touched && passwordFormControl.errors?.['required']" class="alert alert-danger"
            role="alert">
            Password is a required field
        </div>
        <div *ngIf="passwordFormControl.dirty && passwordFormControl.errors?.['minlength']" class="alert alert-danger"
            role="alert">
            Password should be atleast 8 characters
        </div>

        <button class="btn m-3 p-3" type="submit" [disabled]="registerForm.invalid">Sign Up</button>
    </form>
</section>